<!DOCTYPE html>
{% load cache %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рассылки</title>
</head>
<body>
    <h1>Список рассылок</h1>
    {% cache 300 user_mailings %}
    <ul>
        {% for mailing in mailings %}
            <li>
                {{ mailing.message.subject }} ({{ mailing.status }})
                <a href="{% url 'mailing_edit' mailing.pk %}">Редактировать</a>
                <a href="{% url 'mailing_delete' mailing.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    {% endcache %}
    <a href="{% url 'mailing_new' %}">Добавить новую рассылку</a>
</body>
</html>