<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
</head>
<body>
    <h1>Список сообщений</h1>
    <ul>
        {% for message in messages %}
            <li>
                {{ message.subject }} - {{ message.body }}
                <a href="{% url 'message_edit' message.pk %}">Редактировать</a>
                <a href="{% url 'message_delete' message.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'message_new' %}">Добавить новое сообщение</a>
</body>
</html>
